#test{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3xYWYKbfzIuLw21IooCIVr7XdNNr3VJMcUQ&usqp=CAU');
   background-repeat: no-repeat;
   background-size: cover;
  
  position: fixed;


}